<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% load static %}
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="{% static "betafeed/css/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "betahash/css/home.css" %}">

	<!-- Library code. -->
	<script type="text/javascript" src="{% static "betafeed/js/jquery-2.0.2.js" %}"></script>
	<script type="text/javascript" src="{% static "betafeed/js/angular.js" %}"></script>
	<script type="text/javascript" src="{% static "betafeed/js/ui-bootstrap-tpls-1.3.3.min.js" %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script type="text/javascript" src="{% static "betahash/js/homeApp.js" %}"></script>
	<script type="text/javascript">
		var reddit_feed = JSON.parse('{{ reddit_feed | escapejs }}');
		var twitter_feed = JSON.parse('{{ twitter_feed | escapejs }}');
	</script>
	<title>Hoverland</title>
</head>
<body ng-app="homeApp" ng-controller="homeCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="background">
				<div class="layer">
					<div class="col-md-offset-1 col-md-3 title">
						<span class="logo">BetaHash</span><span class="domain">.xyz</span></div>
					<div>
					<div class="col-md-4 headline">
						<span class="headline-text">All in one news Feed for the beta testing community</span>
					</div>
				</div>
				<!-- <img class="image" src="{% static "betahash/img/mackeyboard.jpg" %}"> -->
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-md-offset-3 col-md-6 message">
					<span class="message-text">Browse your favourite beta testing hubs</span>
				</div>
			</div>
			<div class="row icons">
				<div class="col-md-offset-3 col-md-2">
					<img class="twitter-logo" ng-click="feed_index = 1" src="{% static "betafeed/img/Twitter_Logo_White_On_Blue.png" %}">
				</div>
				<div class="col-md-2">
					<img class="reddit-logo" ng-click="feed_index = 2" src="{% static "betafeed/img/reddit-alien.svg" %}">
				</div>
				<div class="col-md-2">
					<img class="yc-logo" ng-click="feed_index = 3" src="{% static "betafeed/img/ycombinator-logo.png" %}">
				</div>
			</div>
			<div class="row feed">
				<div class="col-md-offset-3 col-md-6 scrollable-div">
					<div ng-show="feed_index == 1">
						<div class="col-md-12 tweet" ng-repeat="tweet in tweets track by $index"
							ng-click="open_url('https://twitter.com/statuses/'+tweet.status_id)">
							<div class="col-md-2">
								<div class="img-div">
									<img class="img-circle" ng-src="{[{tweet.profile_image}]}"
										ng-click="open_url('https://twitter.com/'+tweet.screen_name)">
								</div>
							</div>
							<div class="col-md-10">
								<div class="row">
									<span>
										<a href="" ng-click="open_url('https://twitter.com/'+tweet.screen_name)">{[{tweet.user_name}]}</a>
									</span>
									<span ng-click="open_url('https://twitter.com/'+tweet.screen_name)">
										@{[{tweet.screen_name}]}</span> - 
									<span>{[{tweet.date}]}</span>
								</div>
								<div class="row">
									<span>{[{tweet.tweet}]}</span>
								</div>
							</div>
						</div>
					</div>
					<div ng-show="feed_index == 2">
						<div class="col-md-12 post" ng-repeat="post in reddit_posts track by $index">
							<div class="col-md-offset-1 col-md-10">
								<div class="row">
									<span class="post-title" ng-click="open_url(post.url)">{[{post.title}]}</span>
								</div>
								<div class="row">
									<span>submitted {[{post.date}]} by 
										<a href="" ng-click="open_url('https://www.reddit.com/user/'+post.user_name)">{[{post.user_name}]}</a>
									</span>
								</div>
								<div class="row">
									<span class="comments-url" ng-click="open_url('https://www.reddit.com'+post.comments)">comment</span>
								</div>
							</div>
						</div>
					</div>
					<div ng-show="feed_index == 3">
						<div class="col-md-12 hackernews">
							<div class="col-md-offset-4 col-md-4">
								<br><br><br><br><br><br><br><br>
								<div class="row">
									<span class="yc-message">Coming Soon</span>
								</div>
								<br><br><br><br><br><br><br><br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			
		</div>
	</div>
</body>
</html>