body {
  background-color: #eff0f4; /* fallback for old browsers */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
    background:url('../img/mackeyboard.jpg');
    position: relative;
    background-size:cover;
    height: 100vh;
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
	top: 20px;
}

.logo {
	font-family: 'infinity';
	font-weight: bold;
	font-size: 50px;
	font-style: italic;
}

.domain {
	font-family: 'infinity';
	font-weight: bold;
	font-size: 35px;
	font-style: italic;
	top: 10px;
}

.headline {
	top: 190px;
	text-align: center;
}

.headline-text {
	font-family: 'infinity';
	font-weight: bold;
	font-size: 50px;
}

.content {
	height: 100vh;
}

.message {
	padding-top: 30px;
	text-align: center;
}

.message-text {
	font-family: 'infinity';
	font-weight: bold;
	font-size: 30px;
}

.icons {
	padding-top: 40px;
	text-align: center;
}

.twitter-logo {
	width: 28%;
	height: auto;
	cursor: pointer;
}

.reddit-logo {
	width: 20%;
	height: auto;
	cursor: pointer;
}

.yc-logo {
	width: 28%;
	height: auto;
	cursor: pointer;
}

.feed {
	padding-top: 40px;
	height: 60%;
}

.scrollable-div {
	overflow: auto;
	height: 100%;
}

.tweet {
	background-color: #fff;
	border-bottom: solid #eff0f4;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tweet:hover {
	background-color: #e6ecf0;
}

.img-div {
	/*position: relative;*/
	margin-top: 4%;

}

.img-circle {
	/*position: relative;*/
	border-radius: 50%;
	height: 55px;
	cursor: pointer;
	top: 0;
	left: 0;
}

.post {
	background-color: #fff;
	border-bottom: 1.5px dotted #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

.post-title {
	color: #0000ff;
	cursor: pointer;
}

.profile-name {
	font-size: 15px;
}

.comments-url {
	cursor: pointer;
}

.hackernews {
	background-color: #fff;
	text-align: center;
}

.yc-message {
	font-family: 'infinity';
	font-weight: bold;
	font-size: 35px;
	height: 100%;
	top: 40%;
}